:root {
    --vp-c-green: rgb(146, 84, 222);
    --vp-c-green-light: rgb(239, 219, 255);
    --vp-c-green-lighter: rgb(249, 240, 255);
    --vp-c-green-dark: rgb(83, 29, 171);
    --vp-c-green-darker: rgb(26, 19, 37);
    --vp-c-green-dimm-1: rgba(146, 84, 222, 0.05);
    --vp-c-green-dimm-2: rgba(146, 84, 222, 0.2);
    --vp-c-green-dimm-3: rgba(146, 84, 222, 0.5);
}

/** 自定义date **/
:root {
    --date-color: var(--vp-c-text-2);
    --date-font-family: Georgia, sans-serif;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont'; /* Project id 4123598 */
    src: url('//at.alicdn.com/t/c/font_4123598_xhbpe49fa.woff2?t=1686800284936') format('woff2'),
        url('//at.alicdn.com/t/c/font_4123598_xhbpe49fa.woff?t=1686800284936') format('woff'),
        url('//at.alicdn.com/t/c/font_4123598_xhbpe49fa.ttf?t=1686800284936') format('truetype');
}
.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* theme reset start */

.Layout {
    min-height: calc(100vh - 78px) !important; /* reduce copyright */
}
.title {
    color: var(--vp-c-text-1);
    font-size: 1.5rem !important;
    letter-spacing: 1px;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-family: var(--date-font-family);
}

.VPDoc.has-aside .content-container {
    max-width: inherit !important;
}
.vp-doc a {
    color: var(--vp-c-text-1);
    font-weight: 500;
}
.vp-doc p {
    font-size: 0.9375rem;
}

h1 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    padding-top: 14px;
}
h2 {
    font-size: 1.125rem !important;
    font-weight: 500 !important;
    border-bottom: 1px solid var(--vp-c-divider-light);
    border-top: none !important;
    margin: inherit !important;
}
h3 {
    font-size: 1rem !important;
    font-weight: 500 !important;
}
mark {
    background-color: var(--vp-c-brand-light);
}
@media (min-width: 960px) {
    .VPNavBar {
        max-width: 992px;
        margin: 0 auto;
    }
    .VPNavBar.has-sidebar {
        max-width: 100%;
    }
}

@media (min-width: 1440px) {
    .VPNavBar {
        max-width: 1104px;
        margin: 0 auto;
    }
    .VPNavBar.has-sidebar {
        max-width: 100%;
    }
}

.VPDoc:not(.has-sidebar) .content {
    max-width: inherit !important;
}

.VPDoc {
    padding-top: 10px !important;
}

/* for aside end */
/* theme reset end */

/*tags and archives page style*/
.posts {
    padding: 4px 0 4px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-dot {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--li-dot-color);
}

.post-container {
    font-size: 0.9375rem;
    font-weight: 400;
}

.posts:hover {
    color: var(--vp-c-brand);
}
.date {
    font-family: var(--date-font-family);
}
